.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0.5em;
  margin: 5vw;
}

input {
  /* width: 90vw; */
  flex-grow: 1;
  padding: 1vw;
  outline: none;
  border: 1px solid #efefef;
  font-size: 0.75rem;
}

@media screen and (min-width: 800px) {
  input {
    font-size: 1rem;
    padding: 10px;
  }
  button {
    padding: 10px !important;
  }
}
